*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #4568dc 0%, #af6ab3 100%), #4568dc;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: Exo2, sans-serif;
  /*line-height: 1.5;*/
}

a {
  outline: none;
  text-decoration: none;
}

.container {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 82%;
  font-family: Exo, sans-serif;
}

.header h1 {
  margin-top: 100px;
  margin-bottom: 0;
  font-weight: 800;
  font-style: normal;
  font-size: 90px;
  line-height: 27%;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header h2 {
  margin-top: 60px;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  line-height: 108%;
  color: #ffffff;
  margin-bottom: 0;
}

.main {
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 0;
}

.main__right-side {
  width: 50%;
  margin-left: 30px;
}

.main__right-side img {
  width: 100%;
  height: 340px;
  border-radius: 20px;
}

.main__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-right: 30px;
}

.main__left-side_textarea textarea {
  width: 100%;
  height: 240px;
  background: #f4f4f4;
  border: 2px solid #191f82;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  padding: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

textarea::placeholder {
  color: #b1afaf;
}

.main__left-side_textarea {
  margin-bottom: 0;
}

.main__left-side_content {
  margin-top: 30px;
}

.main__left-side_choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__left-side_choice select {
  width: 58%;
  height: 70px;
  background: #ffffff;
  border: 2px solid #0b6eed;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  cursor: pointer;
}
.main__left-side_choice select option {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.main__left-side_choice button {
  width: 40%;
  height: 70px;
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  background: #0b6eed;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.main__left-side_choice button:hover {
  background: #75adf6;
  transition: 0.5s;
}

.main__left-side_choice button:active {
  background: #336ab2;
  transition: 0.5s;
}

.footer {
  margin-top: 138px;
  margin-bottom: 82px;
  width: 82%;
  height: 90px;
  background: #ffffff;
  border: 2px solid #0b6eed;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.footer__logo {
  padding-left: 40px;
}

.footer__contacts ul li {
  list-style-type: none;
  display: inline;
  padding-right: 25px;
}

.footer__nickname {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 75%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #5c5c5c;
}
